.block3 {
    background: darksalmon;
    height: 100vh;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.content {
width: 100%;
}

.skills {
    text-align: center;
    padding-bottom: 100px;
}

.skills__all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}

@media (max-width: 850px) {
    .skills__all {
        flex-direction: column;
        align-items: center;
    }

    .skills {
        padding-bottom: 50px;
    }
}
