.nav {
    display: flex;
    justify-content: space-between;

    width: 40%;
    color: black;
}

.nav a {
    color: blanchedalmond;
    text-decoration: none;
}

.nav a:hover {
    color: #282c34;
    transition: color 0.3s;
}

@media (max-width: 980px) {
    .nav {
        width: 80%;
    }
}